body {
    background: #ffffffff
}
.fotka {
    height: 30px;
    width: 92px;
}
.logo {
    position: absolute;
    padding-top: 27px;
    top: 1px;
}
.poiskovik {
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    display: flex;
}
.poisktxt {
    font: 16px arial,sans-serif;
    line-height: 34px;
    padding-left: 20;
    margin-top: -5px;
    height: 46px !important;
}
.poisktxt1 {
    color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    white-space: pre;
}
.gggg {
    position: relative;
    margin-left: 133px;
    width: 692px;
    padding-left: 27px;
}
.dd3 {
    background: #fff;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 24px;
    flex: 1 10 10%;
    border-top-right-radius: 24px;
    flex-shrink: 1;
    margin-left: 142;
    flex-grow: 1;
    border-bottom-right-radius: 24px;
    padding-right: 490; 
    -webkit-tap-highlight-color: transparent;
    border-bottom-left-radius: 24px;
    position: absolute;
    display: inline-block;
}
.oo1 {
    display: inline-block;
    fill: currentColor;
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 170px
}
.oo2 {
    margin-right: 5;
    vertical-align: text-bottom;
}
.oo3 {
    justify-content: space-between;
    align-items: baseline;
    white-space: nowrap;
}
.all1 {
    padding-right: 35px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
    margin-left: 205px;
}
.all2 {
    padding-right: 35px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.all3 {
    padding-right: 35px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.all4 {
    padding-right: 35px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.all5 {
    padding-right: 35px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.all6 {
    padding-right: 20px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.all7 {
    padding-right: 25px;
    padding-left: 130px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.all8 {
    padding-right: 20px;
    font-family: arial,sans-serif;
    font-size:  13px;
    color: #5F6368;
    text-decoration: none;
}
.tools {
    padding-right: 250px;
}
.sett {
    padding-right: 25px;
}
.undline {
    border-bottom: 3px solid #1a73e8;
    color: #1a73e8
}
.ft {
    background: none;
    color: #4285f4;
    height: 24px;
    width: 24px;
    margin-top: -96px;
    margin-left: 700px;
}
.ft1 {
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.ft2 {
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 116px;
}
.daob {
    background: #fff;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
    white-space: nowrap;
}
.class {
    padding-bottom: 15;
    border-bottom: 1px solid #ebebeb;
    margin-top: -35px;
    left: 0;
    right: 0;
    position: absolute;
}
.mojmoj {
    bottom: 26;
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    left: 1800;
    width: 32px;
}
.moj {
    cursor: pointer;
    text-decoration: none;
}
.kvadr {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.resul {
    margin-left: 180;
    margin-top: 55;
    font-family: arial,sans-serif;
    font-size: 14;
    color: #70757a;
}
.rvt {
    font-size: 14px;
    font-family: arial,sans-serif;
    margin-left: 180px;
    margin-top: 25px;
}
.transl {
    margin-left: 270;
    margin-top: -30;
    font-size: 14;
    color: #1a0dab;
    font-family: arial,sans-serif;
    text-decoration: none;
}
.rvtt {
    font-size: 20px;
    font-family: arial,sans-serif;
    color: #1a0dab;
    font-weight: normal;
    margin-top: -8;
    margin-left: 180;
}
.xtt1{
    margin-top: -13;
    color: #4d5156;
    margin-left: 181;
    font-family: arial,sans-serif;
    font-size: 14;
}
.xtt2{
    margin-top: -8;
    color: #4d5156;
    margin-left: 181;
    font-family: arial,sans-serif;
    font-size: 14px;
}
.xtt3 {
    margin-left: 180;
    font-size: 14;
    margin-top: -9;
    margin-bottom: 35;
    color: #1a0dab;
    font-family: arial,sans-serif;
}
.rvtt1 {
    font-size: 20px;
    font-family: arial,sans-serif;
    color: #1a0dab;
    font-weight: normal;
    margin-top: -8;
    margin-left: 180;
}
.rvtt2 {
    font-size: 20px;
    font-family: arial,sans-serif;
    color: #1a0dab;
    font-weight: normal;
    margin-top: -8;
    margin-left: 180;
}
.rvtt3 {
    font-size: 20px;
    font-family: arial,sans-serif;
    color: #1a0dab;
    font-weight: normal;
    margin-top: -8;
    margin-left: 180;
}
.related {
    font-size: 20px;
    font-family: arial,sans-serif;
    margin-left: 180px;
    color: #202124;
    line-height: 1.3px;
}
.rvtpro {
    margin-left: 250px;
    font-family: arial,sans-serif;
    font-size: 16px;
}
.someb {
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    margin: 4px 8px;
    max-height: none;
    min-height: 48px;
    padding-left: 17px;
    position: relative;
}
.dap{
    margin-left: 250;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-family: arial,sans-serif;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    max-height: none;
    margin-right: 1370;
    min-height: 48px;
    position: relative;
    font-size: 16px;
    margin-left: 180;
    padding-left: 70;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.relateds{
    margin-left: 180;
    font-family: arial,sans-serif;
    font-size: 20;
}
.cutuc {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-direction: column;
}
.ao1 {
    font-family: arial,sans-serif;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    margin: 4px 8px;
    max-height: none;
    margin-right: 1050;
    min-height: 48px;
    position: relative;
    font-size: 16px;
    margin-left: 500;
    padding-left: 70;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: -65;
}
.von {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(26, 115, 232);
    color: #1a73e8;
}
.kort {
    width: 16;
    height: 16;
    display: absolute;
    color: #fff;
}
.r {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
}
.r00 {
    font-weight: bold;
    color: #4285f4
}
.r1 {
    color: rgba(0,0,0,.87);
    font-weight: normal;
}
.vangog {
    margin-left: 350px;
    padding-top: 30px
}
.niz {
    margin-top: 60px;
    background: #f2f2f2;
    padding-top: 15;
    right: 0mm;
    left: 0;
    position: absolute;
    margin-bottom: -30;
    padding-bottom: 15;
    border-top: 1px solid #dadce0;
}
.helppp {
    padding-right: 30px;
    text-decoration: none;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14;
}
.helpp {
    margin-left: 170px;
}
.p30 {
    margin-left: 10px;
    padding-top: 15;
    text-decoration: none;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14;
}
}
.aleksfedak {
    margin-left: 10px;
    padding-top: 15;
}
.flex {
    display: flex;
    flex: 1;
    position: absolute;
    background: #f2f2f2;
    left: 0;
    padding-bottom: 10;
    padding-left: 170;
    right: 0;
    border-top: 1px solid #dadce0;
}
.tochka {
    background: #70757a;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
}
.smt {
    color: #3c4043;
    font-weight: bold;
}