.sm-img {
    margin-top: 190;
    width: 272px;
    height: 92px;
    object-position: center;
    padding-bottom: 20px;
}
body {
    background: #ffffffff
}
.m {
    border-color: grey;
    border-width: 500px;
    border-radius: 10px;
}
.button{
    background-color: #f8f9fa;
    padding-right: 15px;
    padding-left: 15px;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    border-color: #f8f9fa;
    border-style: solid;
    color: #3c4043;
    margin-right: 3.9;
    margin-bottom: 11px;
    margin-left: 4;
    min-width: 53px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.razm {
    height: 52px;
    padding-top: 30px;
}
.toprazm {
    height: 60px;
}
.box {
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding-top: 4px;
    justify-content: flex-end;
    float: right;
    padding-left: 32px;
    display: flex;
}
.sr {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}
.mmm {
    display: inline-block;
    padding-left: 15px;
}
.da {
    display: flex;
    align-items: center;
}
.txt {
    color: #000000DE;
    padding-left: 15px;
    font-size: 13px;
    font-family: arial,sans-serif;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.bord {
    margin-top: 37px;
    font-size: 16px;
    border: none;
}
.oyo {
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
    position: relative;
}
.ddd {
    width: auto;
    max-width: 584px;
    background: #fff;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    height: 44px;
}
.some {
    height: 44px;
    max-width: 584px;
    width: 584px;
    border: none;
    color: rgba(0,0,0.87);
    outline: none;
    background-color: transparent;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
    margin-left: 40px;
}
.img {
    background-size: 32px 32px;
    border-radius: 50%;
    border: 0;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
}
.imgramk {
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding-right: 4px;
    padding-left: 30px; 
}
.some1 {
    border-radius: 10px;
    padding-left: 500px
}
.s1 {
    margin-top:3px;
    color:#9aa0a6;
    height:20px;
    width:20px
}    
.s2 {
    display:inline-block;
    fill:currentColor;
    line-height:24px;
    position:relative
}
.s3 {
    margin: auto;
}
.s4 {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}
.s5 {
    text-decoration: none;
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    font-size: 13px;
    font-family: arial,sans-serif;
}
.s6 {
    color: #1a0dab;
}
.footer {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-bottom: 1px solid #dadce0;
    font-family: arial,sans-serif;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    left: 0mm;
    right: 0mm;
    bottom: 3.3%;
    box-sizing: border-box;
    width: auto;
    background: #f2f2f2;
    position: absolute;
    text-align: left;
}
.footer1 {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-family: arial,sans-serif;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    left: 0mm;
    right: 0mm;
    bottom: 0%;
    box-sizing: border-box;
    width: auto;
    background: #f2f2f2;
    position: absolute;
    text-align: left;
}
.footerinc {
    display: block;
    padding: 14.5px;
    white-space: nowrap;
}
.somek {
    float: left;
    margin: 0%;
}
.about {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: #70757a
}
.advert {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
    font-size: 14px;
    font-family: arial,sans-serif;
    text-decoration: none;
    color: #70757a
}
.business {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
    font-family: arial,sans-serif; 
    text-decoration: none;
    color: #70757a
}
.Hows {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
    font-family: arial,sans-serif; 
    text-decoration: none;
    color: #70757a;
}
.footerinc1 {
    text-decoration: none;
    padding-right: 30px;
    padding-bottom: 15px;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    right: 0mm;
    bottom: 0%;
    box-sizing: border-box;
    width: auto;
    background: #f2f2f2;
    position: absolute;
    text-align: right;
}
.sl1 {
    padding-right: 183px;
}
.sl2 {
    padding-left: 13px;
    padding-right: 115px;
}
.sl3 {
    padding-left: 13px;
    padding-right: 35px;
}
